<div class="jumbotron">
	<h1>Cadastro de Sensores</h1>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSensor" data-whatever="mdo">Cadastrar Novo Sensor</button>

<div class="row">
	<table class="table table-striped" id="tabSensor">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Tipo</th>
				<th scope="col">Barragem</th>
				<th scope="col">Editar</th>
				<th scope="col">Excluir</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div class="modal fade" id="modalSensor" tabindex="-1" role="dialog" aria-labelledby="modalSensorLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalSensorLabel">Novo Sensor</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="idTipoSensor" class="col-form-label">Tipo:</label>
						<select name="idTipoSensor" id="idTipoSensor"></select>
					</div>
					<div class="form-group">
						<label for="idBarragem" class="col-form-label">Barragem:</label>
						<select name="idBarragem" id="idBarragem"></select>
					</div>
					<div class="form-group">
						<label for="txtName" class="col-form-label">Nome:</label>
						<input type="text" class="form-control" id="txtName">
					</div>
					<div class="form-group">
						<label for="txtMedicaoMinima" class="col-form-label">Medição Mínima</label>
						<input type="text" class="form-control" id="txtMedicaoMinima" style="width: 80px;"><div class="lblUnidadeMedida" style="margin-left: 5px;"></div>
					</div>
					<div class="form-group">
						<label for="txtMedicaoMaximaSeguranca" class="col-form-label">Segurança - Valor Máximo</label>
						<input type="text" class="form-control" id="txtMedicaoMaximaSeguranca" style="width: 80px;"><div class="lblUnidadeMedida" style="margin-left: 5px;"></div>
					</div>
					<div class="form-group">
						<label for="txtMedicaoMaximaAlerta" class="col-form-label">Alerta - Valor Máximo</label>
						<input type="text" class="form-control" id="txtMedicaoMaximaAlerta" style="width: 80px;"><div class="lblUnidadeMedida" style="margin-left: 5px;"></div>
					</div>
					<div class="form-group">
						<label class="col-form-label">Emergência - Acima de</label>
						<span class="lblUnidadeMedidaEmergencia" style="margin-left: 5px;"></span>
					</div>
					<input type="hidden" name="idSensor" id="idSensor" value="0">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" id="btnSalvar">Salvar</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script language="javascript">

		var baseURL = @Html.Raw(HttpUtility.JavaScriptStringEncode(
			new Uri(
					new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
					Url.Content("~/")
				).ToString(), true));

		$(document).ready(function () {
			carregarTipoSensor();
			carregarBarragem();
			carregarSensores();

			$("#txtMedicaoMinima").mask("###0,00");
			$("#txtMedicaoMaximaSeguranca").mask("###0,00");
			$("#txtMedicaoMaximaAlerta").mask("###0,00");

			$("#idTipoSensor").on("change", function () {
				var unidadeMedida = $(this).children("option:selected").attr("unidadeMedida");

				$(".lblUnidadeMedida").html(unidadeMedida);

				tratarMinimoEmergencia($("#txtMedicaoMaximaAlerta").val(), unidadeMedida);
			});

			$("#txtMedicaoMaximaAlerta").on("blur", function () {
				var unidadeMedida = $("#idTipoSensor").children("option:selected").attr("unidadeMedida");

				tratarMinimoEmergencia($(this).val(), unidadeMedida);
			});
		});

		function tratarMinimoEmergencia(valor, unidadeMedida) {
			$(".lblUnidadeMedidaEmergencia").html(valor + " " + unidadeMedida);
		}

		function carregarTipoSensor() {
			$.ajax({
				method: "GET",
				url: baseURL + "api/tiposensor",
				dataType: "json"
			})
			.done(function (data) {
				$("#idTipoSensor").append($("<option />").val("").text("Selecione...").attr("selected", "selected"));

				$(data).each(function (i, tipoSensor) {
					$("#idTipoSensor").append($("<option />").val(tipoSensor.ID).text(tipoSensor.Name).attr("unidadeMedida", tipoSensor.UnidadeMedida));
				});
			});
		}

		function carregarBarragem() {
			$.ajax({
				method: "GET",
				url: baseURL + "api/barragem",
				dataType: "json"
			})
			.done(function (data) {
				$("#idBarragem").append($("<option />").val("").text("Selecione...").attr("selected", "selected"));

				$(data).each(function (i, barragem) {
					$("#idBarragem").append($("<option />").val(barragem.ID).text(barragem.Name));
				});
			});
		}

		function carregarSensores() {
			var templateIconeEditar = "<td><p data-placement=\"top\" data-toggle=\"tooltip\" title=\"Editar\"><button class=\"btn btn-primary btn-xs\" onclick=\"javascript: editarSensor([ID]); return false;\"><span class=\"glyphicon glyphicon-pencil\"></span></button></p></td>";			
			var templateIconeExcluir = "<td><p data-placement=\"top\" data-toggle=\"tooltip\" title=\"Excluir\"><button class=\"btn btn-danger btn-xs\" onclick=\"javascript: excluirSensor([ID]); return false;\"><span class=\"glyphicon glyphicon-trash\"></span></button></p></td>";

			var templateLinhaSensor = "<tr><th scope=\"row\">[ID]</th><td>[NAME]</td><td>[TIPO_SENSOR]</td><td>[BARRAGEM]</td>" + templateIconeEditar + templateIconeExcluir + "</tr>";

			$.ajax({
				method: "GET",
				url: baseURL + "api/sensor",
				dataType: "json"
			})
			.done(function (data) {
				$("#tabSensor").find("tr:gt(0)").remove();

				$(data).each(function (i, sensor) {
					var linhaSensor = templateLinhaSensor;

					linhaSensor = linhaSensor.replace(/\[ID\]/gi, sensor.ID);
					linhaSensor = linhaSensor.replace(/\[NAME\]/gi, sensor.Name);
					linhaSensor = linhaSensor.replace(/\[TIPO_SENSOR\]/gi, sensor.NameTipoSensor);
					linhaSensor = linhaSensor.replace(/\[BARRAGEM\]/gi, sensor.NameBarragem);

					$("#tabSensor").append(linhaSensor);
				});
			});
		}

		function resetModal() {
			$("#modalSensorLabel").html("Novo Sensor");
			$("#idSensor").val(0);
			$("#txtName").val("");
			$("#txtMedicaoMinima").val("");
			$("#txtMedicaoMaximaSeguranca").val("");
			$("#txtMedicaoMaximaAlerta").val("");
			$(".lblUnidadeMedida").html("");
			$(".lblUnidadeMedidaEmergencia").html("");

			$("#idTipoSensor").val("");
			$("#idBarragem").val("");
		}

		function editarSensor(id) {
			$.ajax({
				method: "GET",
				url: baseURL + "api/sensor/" + id,
				dataType: "json"
			})
			.done(function (data) {
				$("#modalSensor").modal("show");

				$("#idSensor").val(data.ID);
				$("#txtName").val(data.Name);
				$("#txtMedicaoMinima").val(data.MedicaoMinima);
				$("#txtMedicaoMaximaSeguranca").val(data.MedicaoMaximaSeguranca);
				$("#txtMedicaoMaximaAlerta").val(data.MedicaoMaximaAlerta);

				$("#idTipoSensor").val(data.IdTipoSensor);
				$("#idTipoSensor").trigger("change");

				$("#idBarragem").val(data.IdBarragem);

				$("#modalSensorLabel").html("Editar Sensor");
			});
		}

		function excluirSensor(id) {
			if (confirm("Deseja realmente excluir a sensor?")) {
				$.ajax({
					method: "DELETE",
					url: baseURL + "api/sensor/" + id
				})
				.done(function (data) {
					alert("Sensor excluído com sucesso");

					carregarSensores();
				});
			}
		}

		$("#btnSalvar").on("click", function () {
			var idSensor = $("#idSensor").val();
			var idTipoSensor = $("#idTipoSensor").val();
			var idBarragem = $("#idBarragem").val();
			var nomeSensor = $("#txtName").val();			
			var medicaoMinima = $("#txtMedicaoMinima").val();
			var medicaoMaximaSeguranca = $("#txtMedicaoMaximaSeguranca").val();
			var medicaoMaximaAlerta = $("#txtMedicaoMaximaAlerta").val();

			var validacaoOK = true;
			
			if (isNull(idTipoSensor)) {
				$("#idTipoSensor").parent().addClass("has-error");
				validacaoOK = false;
			}
			else {
				$("#idTipoSensor").parent().removeClass("has-error");
			}
			
			if (isNull(idBarragem)) {
				$("#idBarragem").parent().addClass("has-error");
				validacaoOK = false;
			}
			else {
				$("#idBarragem").parent().removeClass("has-error");
			}

			if (isNull(nomeSensor)) {
				$("#txtName").parent().addClass("has-error");
				validacaoOK = false;
			}
			else {
				$("#txtName").parent().removeClass("has-error");
			}

			if (isNull(medicaoMinima)) {
				$("#txtMedicaoMinima").parent().addClass("has-error");
				validacaoOK = false;
			}
			else {
				$("#txtMedicaoMinima").parent().removeClass("has-error");
			}

			if (isNull(medicaoMaximaSeguranca)) {
				$("#txtMedicaoMaximaSeguranca").parent().addClass("has-error");
				validacaoOK = false;
			}
			else {
				$("#txtMedicaoMaximaSeguranca").parent().removeClass("has-error");
			}

			if (isNull(medicaoMaximaAlerta)) {
				$("#txtMedicaoMaximaAlerta").parent().addClass("has-error");
				validacaoOK = false;
			}
			else {
				$("#txtMedicaoMaximaAlerta").parent().removeClass("has-error");
			}

			if (!validacaoOK) {
				return;
			}

			medicaoMinima = medicaoMinima.replace(/\,/gi, ".");
			medicaoMaximaSeguranca = medicaoMaximaSeguranca.replace(/\,/gi, ".");
			medicaoMaximaAlerta = medicaoMaximaAlerta.replace(/\,/gi, ".");


			var dataSensor = JSON.stringify({ IdTipoSensor: idTipoSensor, IdBarragem: idBarragem, Name: nomeSensor, MedicaoMinima: medicaoMinima, MedicaoMaximaSeguranca: medicaoMaximaSeguranca, MedicaoMaximaAlerta: medicaoMaximaAlerta });

			if (idSensor == 0) {
				$.ajax({
					method: "POST",
					url: baseURL + "api/sensor",
					contentType: "application/json",
					data: dataSensor
				})
				.done(function (msg) {
					alert("Sensor salvo com sucesso");

					carregarSensores();
				})
				.always(function() {
					$("#modalSensor").modal("hide");
				});
			}
			else {
				$.ajax({
					method: "POST",
					url: baseURL + "api/sensor/" + idSensor,
					contentType: "application/json",
					data: dataSensor
				})
				.done(function (data) {
					alert("Sensor alterado com sucesso");

					carregarSensores();
				})
				.always(function() {
					$("#modalSensor").modal("hide");
				});
			}
		});	

		$("#modalSensor").on("show.bs.modal", function (e) {
			resetModal();
		});

		$("#modalSensor").on("hidden.bs.modal", function (e) {
			resetModal();
		});		
	</script>
}
