<div class="jumbotron">
	<h1>Monitoramento de Barragens</h1>
</div>

<div class="container">
	<form>
		<div class="form-group">
			<label for="idBarragem" class="col-form-label">Barragem:</label>
			<select name="idBarragem" id="idBarragem"></select>
		</div>
		<div class="form-group">
			<label for="idSensor" class="col-form-label">Sensor:</label>
			<select name="idSensor" id="idSensor">
				<option value="">Selecione...</option>
			</select>
		</div>
	</form>
	<div class="mt-1">
		<div style="width: 600px; height: 600px;">
			<canvas id="chartSensor"></canvas>
		</div>
	</div>
</div>



@section Scripts {
	<script language="javascript">		
		var sensorChart = null;

		var baseURL = @Html.Raw(HttpUtility.JavaScriptStringEncode(System.Configuration.ConfigurationManager.AppSettings["UrlBaseSCA"].ToString(), true));

		var vetorRGB = [];
		vetorRGB[0] = "0, 255, 0";
		vetorRGB[1] = "0, 0, 255";
		vetorRGB[2] = "255, 0, 0";
		vetorRGB[3] = "255, 255, 0";
		vetorRGB[4] = "255, 0, 255";

		$(document).ready(function () {
			recuperarBarragens();

			$("#idBarragem").on("change", function () {
				if ($(this).val() != "") {
					recuperarSensores($(this).val());
				}
			});

			$("#idSensor").on("change", function () {
				if ($(this).val() != "") {
					recuperarLogSensor($(this).val());
				}
			});
		});

		function recuperarBarragens() {
			$.ajax({
				method: "GET",
				url: baseURL + "api/barragem",
				dataType: "json",
				async: false
			})
			.done(function (data) {
				carregarBarragens(data);
			});
		}

		function carregarBarragens(barragens) {
			$("#idBarragem").append($("<option />").val("").text("Selecione...").attr("selected", "selected"));

			$(barragens).each(function (index, barragem) {
				$("#idBarragem").append($("<option />").val(barragem.ID).text(barragem.Name));
			});
		}		

		function recuperarSensores(idBarragem) {
			$.ajax({
				method: "GET",
				url: baseURL + "api/sensor/barragem/" + idBarragem,
				dataType: "json"
			})
			.done(function (data) {
				carregarSensores(data);
			});
		}

		function carregarSensores(sensores) {
			$("#idSensor").find("option").remove();

			if (sensorChart != null) {
				sensorChart.destroy();
			}

			$("#idSensor").append($("<option />").val("").text("Selecione...").attr("selected", "selected"));

			$(sensores).each(function (index, sensor) {
				$("#idSensor").append($("<option />").val(sensor.ID).text(sensor.Name));
			});

			$("#idSensor").append($("<option />").val("0").text("Todos"));
		}

		function recuperarLogSensor(idSensor) {
			$.ajax({
				method: "GET",
				url: baseURL + "api/logsensor/" + $("#idBarragem").val() + "/" + idSensor + "/ocorrencia",
				dataType: "json"
			})
			.done(function (data) {
				processarLogSensor(data);
			});
		}

		function processarLogSensor(ocorrenciasSensor) {
			var datasets = [];

			var dataSensor = new Array();

			$(ocorrenciasSensor).each(function (index, ocorrenciaSensor) {
				var dataSensor = new Array();

				$(ocorrenciaSensor.Ocorrencias).each(function (index, ocorrencia) {
					dataSensor.push(ocorrencia.Quantidade);
				});

				datasets[index] = {
					label: ocorrenciaSensor.Sensor.Name,
					data: dataSensor,
					fill: false,
					backgroundColor: "rgba(" + vetorRGB[index % vetorRGB.length] + ", 0.5)",
					borderWidth: 1
				};
				
			});

			if (sensorChart != null) {
				sensorChart.destroy();
			}

			sensorChart = new Chart(
				$("#chartSensor"), {
				type: "bar",
					data: {
						labels: ["Segurança", "Alerta", "Emergência"],
						datasets: datasets
					},
					options: {
						scales: {
							xAxes: [{
								scaleLabel: {
									display: true,
									labelString: "Status do sensor"
								}
							}],
							yAxes: [{
								ticks: { beginAtZero: true },
								scaleLabel: {
									display: true,
									labelString: "Ocorrências"
								}
							}]
						}
					}
			});
		}


	</script>
}
